<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maximet</title>
</head>
<body>
    <div>
        <h1><a href="">Maximet page</a></h1>
    </div>
    <hr>
    <p><b>Вид 1</b><br>
        {{ posts }}</p>

    <br>
    <br>
    <br>
    <br>
    <hr>
    <p><b>Вид 2</b></p>
        {% for post in posts %}
            {{ post }}
        {% endfor %}
    <hr>
    <p><b>Вид 3</b></p>
    {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1><!-- пост тайтл с выделением как ссылки-->
            <p>{{ post.text|linebreaksbr }}</p><!-- выведение текста с подгоном под формат параграфов-->
        </div>
    {% endfor %}
    <hr>

</body>
</html>